*{
    padding: 0px;
    margin: 0px;
    font-family: ProximaNovaLight,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
#main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* position: relative; */
}
#navbar{
    width: 100%;
    height: 50px;
    /* background-color: black; */
    position: fixed;
    z-index: 10;
}
/* #main>div{ */
    /* border: 1px solid; */
    /* height: 200px; */
/* } */

#filter{
    margin-top: 80px;
    width: 50%;
    border-bottom: 1px solid #ccc;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 2;
}
#filter>div{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.filter_box{
    display: flex;
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
}
.filter_box img{
    width: 20px;
}

#datas{
    width: 90%;
    margin: auto;
    margin-top: 150px;
    height: 80vh;
    /* overflow: scroll; */
}
#datacount{
    color: rgb(83, 83, 83);
    font-weight: 500;
}
#sort_section{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
#sort_section>div{
    display: flex;

}


#appenddata{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#appenddata>div{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#appenddata img{
    width: 300px;
    height: 300px;
}
#appenddata>div>div{
    margin-left: 10px;
}
#appenddata>div>div>:first-child{
    font-size: 14px;
    color: rgb(148, 147, 147);
}
#appenddata>div>div>:nth-child(2){
    font-size: 20px;
    margin-top: 10px;
}
#appenddata>div>div>:nth-child(3){
    font-size: 14px;
    color: royalblue;
    margin-top: 10px;
}
#appenddata>div>div>div{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
#appenddata>div>div>div>p{
    border: 1px solid #ccc;
    padding: 2px;
    margin-left: 10px;
}
#appenddata>div>div>:nth-child(5){
    font-size: 24px;
}
#appenddata>div>div>:nth-child(5)>span{
    font-size: 14px;
    color: rgb(148, 147, 147);
}
#appenddata>div>div>:nth-child(6){
    font-size: 12px;
    margin-top: 10px;
    border: 1px solid blue;
    width: fit-content;
    padding: 5px;
    color: rgb(85, 85, 85);
}

iframe{
    width: 100%;
    height: 90vh;
}
.mapouter{
    /* position:relative; */
    text-align:right;
    width: 50%;
    height: 90vh;
    position: fixed;
    right: 0;
    margin-top: 80px;
    z-index: 0;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width: 100%;
    height: 90vh;
}

.append_filterdata{
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    display: none;
}
.append_filterdata.filter_flag{
    display: block;
}
#full{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.473);
    border: 1px solid;
}
#filter_box{
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#filter_datas{
    width: 100%;
    height: 85%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    overflow: scroll;
    margin-top: 20px;
}
#filter_datas input{
    margin-top: 20px;
}
#filter_datas label,span{
    color: rgb(83, 83, 83);
}
#filter_datas>:last-child>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px 50px;
}
#filter_datas>:last-child>:nth-child(3){
    margin-top: 30px;
}
#filter_datas>:last-child>:nth-child(5){
    margin-top: 30px;
    margin-bottom: 20px;
}
#filter_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
#filter_btn>button{
    padding: 10px 20px;
    margin-top: 7px;
    margin-right: 10px;
}
#filter_btn>:first-child{
    background-color: white;
    border: 1px solid #ccc;
}
#filter_btn>:last-child{
    background-color: rgb(30,135,240);
    border: 1px solid rgb(30,135,240);
    color: white;
}

.append_modify{
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    display: none;
}
.append_modify.modify_flag{
    display: block;
}
#full2{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.473);
    border: 1px solid;
}
#filter_box2{
    width: 40%;
    height: 40%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}
#filter_datas2{
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#filter_datas2>div{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#filter_datas2 img{
    width: 30px;
    height: 30px;
}
#filter_datas2 input,select,button{
    height: 30px;
}
#filter_datas2 input{
    border: 0px;
}
#filter_datas2 input:focus{
    outline: 0px;
}
#filter_datas2>:nth-child(2) input{
    width: 100%;
}
#filter_datas2>:nth-child(2){
    border: 1px solid #ccc;
}
#filter_datas2>:nth-child(3)>div{
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid #ccc;
}
#filter_datas2>:nth-child(3) input{
    width: 90%;
}
#filter_datas2>:nth-child(4) select{
    width: 100%;
    border: 1px solid #ccc;
}
#filter_datas2>:nth-child(5) button{
    width: 100px;
    height: 40px;
}
#filter_datas2>:nth-child(5)>:first-child{
    background-color: rgb(30,135,240);
    border: 1px solid rgb(30,135,240);
    color: white;
}
#filter_datas2>:nth-child(5)>:last-child{
    background-color: white;
    border: 1px solid #ccc;
    margin-left: 10px;
}